@page
@model YellowBucket1.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                Genres
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].IsDVD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].IsBluRay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].CoverPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
             var genres = item.MoviesGenres.Select(m => m.Genres.Name);

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @String.Join(", ", genres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDVD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBluRay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverPhoto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
