@page
@model YellowBucket1.Pages.Movies.Rentals.IndexModel
@{
    ViewData["Title"] = "Rentals";
}

<h1>Current Rentals</h1>
@* Created several tables to neatly display current movies available for rent these tables must be updated with links to database(10.12.20 sk) *@
@* Changed tables to cards inside a flex box.  Added for loop to iterate through each movie in database (10.22.20 sk)*@


@*added search bar - not currently working (10.22.20 sk)*@
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="flex-container" style="column-gap:15px;grid-row-gap:15px">
    @foreach (var item in Model.Movies)
    {
    <div class="card">
        <a asp-page="./Details" asp-route-id="@item.ID"><img src="@Html.DisplayFor(modelItem => item.CoverPhoto)" alt="@Html.DisplayFor(modelItem => item.Title)" style="width:360px;height:480px"></a>
        <div class="container">
            <h4 style="text-align:center"><b>@Html.DisplayFor(modelItem => item.Title)</b></h4>
            <p style="text-align:left;">
                @Html.DisplayFor(modelItem => item.Rating)
                <span style="float:right;">
                    @Html.DisplayFor(modelItem => item.Length) min.
                </span>
            </p>
        </div>
    </div>
    }
</div>
